In [35]:
pip install pandas

Requirement already satisfied: pandas in c:\users\cjoly\anaconda3\envs\newpycaret\lib\site-packages (1.4.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\cjoly\anaconda3\envs\newpycaret\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\cjoly\anaconda3\envs\newpycaret\lib\site-packages (from pandas) (1.23.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\cjoly\anaconda3\envs\newpycaret\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\cjoly\anaconda3\envs\newpycaret\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [65]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

In [66]:
#cr√©ation dataset

In [67]:
n_2=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_2.csv')
n_9=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_9.csv')
n_11=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_11.csv')
n_12=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_12.csv')
n_13=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_13.csv')
n_21=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_21.csv')
n_22=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_22.csv')
n_23=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_23.csv')
n_31=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_31.csv')
n_32=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_32.csv')

In [68]:
n_2 =n_2.drop(n_2.columns[0], axis=1)
n_9 =n_9.drop(n_9.columns[0], axis=1)
n_11 =n_11.drop(n_11.columns[0], axis=1)
n_12 =n_12.drop(n_12.columns[0], axis=1)
n_13 =n_13.drop(n_13.columns[0], axis=1)
n_21 =n_21.drop(n_21.columns[0], axis=1)
n_22 =n_22.drop(n_22.columns[0], axis=1)
n_23 =n_23.drop(n_23.columns[0], axis=1)
n_31 =n_31.drop(n_31.columns[0], axis=1)
n_32 =n_32.drop(n_32.columns[0], axis=1)

In [69]:
df = n_2.merge(n_9, how='left', left_index=True, right_index=True)
df = df.merge(n_11, how='left', left_index=True, right_index=True)
df = df.merge(n_12, how='left', left_index=True, right_index=True)
df = df.merge(n_13, how='left', left_index=True, right_index=True)
df = df.merge(n_21, how='left', left_index=True, right_index=True)
df = df.merge(n_22, how='left', left_index=True, right_index=True)
df = df.merge(n_23, how='left', left_index=True, right_index=True)
df = df.merge(n_31, how='left', left_index=True, right_index=True)
df = df.merge(n_32, how='left', left_index=True, right_index=True)

C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3832253817.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_12, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3832253817.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_21, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3832253817.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_23, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3832253817.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_32, how='left', left_index=True, right_index=True)

In [70]:
columns=['Node 2','Node 9','Node 11','Node 12','Node 13','Node 21','Node 22','Node 23','Node 31','Node 32']

In [71]:
df.columns=columns

In [72]:
df.describe()

,Node 2,Node 9,Node 11,Node 12,Node 13,Node 21,Node 22,Node 23,Node 31,Node 32
count,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,0.219863,-398.955411,25.210068,27.424521,18.128630,28.874178,36.366781,26.998767,19.907466,17.750548
std,24.017262,247.190489,12.864225,11.059212,6.851349,11.535049,14.892790,10.415781,8.074866,10.134342
min,-1303.200000,-759.600000,3.600000,7.200000,7.200000,7.200000,10.800000,7.200000,7.200000,3.600000
25%,0.000000,-759.600000,10.800000,18.000000,10.800000,18.000000,25.200000,18.000000,14.400000,7.200000
50%,0.000000,-288.000000,25.200000,25.200000,18.000000,28.800000,36.000000,25.200000,21.600000,18.000000
75%,0.000000,-223.200000,36.000000,36.000000,25.200000,39.600000,46.800000,36.000000,25.200000,25.200000
max,302.400000,-93.600000,61.200000,61.200000,43.200000,64.800000,86.400000,61.200000,43.200000,46.800000

In [75]:
corrmatrix = df.corr()
corr = corrmatrix.round(2)
corr

         Node 11
Node 11      1.0

In [74]:
col=['Node 2','Node 9','Node 12','Node 13','Node 21','Node 22','Node 23','Node 31','Node 32']
df=df.drop(columns=col,axis=1)

In [76]:
l_9=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_9.csv')
l_10=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_10.csv')
l_11=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_11.csv')
l_12=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_12.csv')
l_21=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_21.csv')
l_22=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_22.csv')
l_31=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_31.csv')
l_110=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_110.csv')
l_111=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_111.csv')
l_112=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_112.csv')
l_113=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_113.csv')
l_121=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_121.csv')
l_122=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_122.csv')

In [77]:
l_9 =l_9.drop(l_9.columns[0], axis=1)
l_10 =l_10.drop(l_10.columns[0], axis=1)
l_11 =l_11.drop(l_11.columns[0], axis=1)
l_12 =l_12.drop(l_12.columns[0], axis=1)
l_21 =l_21.drop(l_21.columns[0], axis=1)
l_22 =l_22.drop(l_22.columns[0], axis=1)
l_31 =l_31.drop(l_31.columns[0], axis=1)
l_110 =l_110.drop(l_110.columns[0], axis=1)
l_111 =l_111.drop(l_111.columns[0], axis=1)
l_112 =l_112.drop(l_112.columns[0], axis=1)
l_113 =l_113.drop(l_113.columns[0], axis=1)
l_121 =l_121.drop(l_121.columns[0], axis=1)
l_122 =l_122.drop(l_122.columns[0], axis=1)

In [78]:
df = df.merge(l_9, how='left', left_index=True, right_index=True)
df = df.merge(l_10, how='left', left_index=True, right_index=True)
df = df.merge(n_11, how='left', left_index=True, right_index=True)
df = df.merge(l_12, how='left', left_index=True, right_index=True)
df = df.merge(l_21, how='left', left_index=True, right_index=True)
df = df.merge(l_22, how='left', left_index=True, right_index=True)
df = df.merge(l_31, how='left', left_index=True, right_index=True)
df = df.merge(l_110, how='left', left_index=True, right_index=True)
df = df.merge(l_111, how='left', left_index=True, right_index=True)
df = df.merge(l_112, how='left', left_index=True, right_index=True)
df = df.merge(l_113, how='left', left_index=True, right_index=True)
df = df.merge(l_121, how='left', left_index=True, right_index=True)
df = df.merge(l_122, how='left', left_index=True, right_index=True)

C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3415005905.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_12, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3415005905.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_22, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3415005905.py:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_110, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3415005905.py:10: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_112, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\3415005905.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_121, how='left', left_index=True, right_index=True)

In [79]:
df

,Node 11,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value
0,18.0,417.6,417.6,18.0,14.4,39.6,18.0,7.2,-273.6,82.8,7.2,-0.0,21.6,7.2
1,18.0,414.0,414.0,18.0,10.8,43.2,14.4,7.2,-284.4,82.8,-0.0,-0.0,21.6,7.2
2,14.4,410.4,410.4,14.4,10.8,43.2,14.4,7.2,-291.6,82.8,-7.2,-3.6,18.0,3.6
3,14.4,406.8,406.8,14.4,7.2,46.8,14.4,7.2,-298.8,82.8,-10.8,-3.6,18.0,3.6
4,14.4,403.2,403.2,14.4,7.2,46.8,14.4,7.2,-298.8,79.2,-10.8,-3.6,18.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,32.4,244.8,244.8,32.4,43.2,-3.6,7.2,7.2,0.0,61.2,72.0,21.6,32.4,14.4
17516,25.2,223.2,223.2,25.2,43.2,-0.0,7.2,7.2,0.0,57.6,68.4,21.6,28.8,14.4
17517,25.2,212.4,212.4,25.2,39.6,-3.6,7.2,7.2,0.0,54.0,64.8,18.0,28.8,14.4
17518,25.2,190.8,190.8,25.2,36.0,-0.0,7.2,7.2,0.0,46.8,54.0,18.0,25.2,14.4
17519,21.6,172.8,172.8,21.6,32.4,-3.6,7.2,3.6,0.0,43.2,50.4,14.4,21.6,10.8

In [80]:
columns=['Node 11','Link 9','Link 10','Link 11','Link 12','Link 21','Link 22','Link 31','Link 110','Link 111','Link 112','Link 113','Link 121','Link 122']

In [81]:
df.columns=columns

In [82]:
df.describe()

,Node 11,Link 9,Link 10,Link 11,Link 12,Link 21,Link 22,Link 31,Link 110,Link 111,Link 112,Link 113,Link 121,Link 122
count,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,25.210068,398.955411,200.786096,25.210068,36.300411,-2.079247,8.805000,5.054795,-0.219863,51.857466,59.776438,18.178767,25.210068,12.519658
std,12.864225,247.190489,86.845689,12.864225,14.642897,5.006817,3.638183,4.163167,24.017262,21.552400,25.069313,7.981448,11.687677,6.372000
min,3.600000,93.600000,-986.400000,3.600000,3.600000,-198.000000,-50.400000,-14.400000,-302.400000,-133.200000,-14.400000,-3.600000,7.200000,0.000000
25%,10.800000,223.200000,126.000000,10.800000,25.200000,-3.600000,7.200000,0.000000,0.000000,32.400000,39.600000,10.800000,14.400000,7.200000
50%,25.200000,288.000000,198.000000,25.200000,36.000000,-3.600000,10.800000,7.200000,0.000000,50.400000,57.600000,18.000000,25.200000,14.400000
75%,36.000000,759.600000,270.000000,36.000000,46.800000,-0.000000,10.800000,7.200000,0.000000,68.400000,79.200000,25.200000,36.000000,18.000000
max,61.200000,759.600000,446.400000,61.200000,118.800000,46.800000,21.600000,18.000000,1303.200000,108.000000,248.400000,90.000000,57.600000,43.200000

In [85]:
corrmatrix = df.corr()
corr = corrmatrix.round(2)
corr

         Node 11  Link 21  Link 22
Node 11     1.00    -0.43     0.51
Link 21    -0.43     1.00     0.31
Link 22     0.51     0.31     1.00

In [84]:
col=['Link 9',"Link 110",'Link 10','Link 11','Link 12','Link 31','Link 110','Link 111','Link 112','Link 113','Link 121','Link 122']
df=df.drop(columns=col,axis=1)

In [86]:
p_2=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_2.csv')
p_10=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_10.csv')
p_11=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_11.csv')
p_12=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_12.csv')
p_13=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_13.csv')
p_21=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_21.csv')
p_22=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_22.csv')
p_23=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_23.csv')
p_31=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_31.csv')
p_32=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_32.csv')

In [87]:
p_2 =p_2.drop(p_2.columns[0], axis=1)
p_10 =p_10.drop(p_10.columns[0], axis=1)
p_11 =p_11.drop(p_11.columns[0], axis=1)
p_12 =p_12.drop(p_12.columns[0], axis=1)
p_13 =p_13.drop(p_13.columns[0], axis=1)
p_21 =p_21.drop(p_21.columns[0], axis=1)
p_22 =p_22.drop(p_22.columns[0], axis=1)
p_23 =p_23.drop(p_23.columns[0], axis=1)
p_31 =p_31.drop(p_31.columns[0], axis=1)
p_32 =p_32.drop(p_32.columns[0], axis=1)

In [88]:
df = df.merge(p_2, how='left', left_index=True, right_index=True)
df = df.merge(p_10, how='left', left_index=True, right_index=True)
df = df.merge(p_11, how='left', left_index=True, right_index=True)
df = df.merge(p_12, how='left', left_index=True, right_index=True)
df = df.merge(p_13, how='left', left_index=True, right_index=True)
df = df.merge(p_21, how='left', left_index=True, right_index=True)
df = df.merge(p_22, how='left', left_index=True, right_index=True)
df = df.merge(p_23, how='left', left_index=True, right_index=True)
df = df.merge(p_31, how='left', left_index=True, right_index=True)
df = df.merge(p_32, how='left', left_index=True, right_index=True)

C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\1470798153.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_12, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\1470798153.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_21, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\1470798153.py:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_23, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_4972\1470798153.py:10: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_32, how='left', left_index=True, right_index=True)

In [89]:
columns=['Node 11','Link 21','Link 22','Pressure 2','Pressure 10','Pressure 11','Pressure 12','Pressure 13','Pressure 21','Pressure 22','Pressure 23','Pressure 31','Pressure 32']

In [90]:
df.columns=columns

In [91]:
df.describe()

,Node 11,Link 21,Link 22,Pressure 2,Pressure 10,Pressure 11,Pressure 12,Pressure 13,Pressure 21,Pressure 22,Pressure 23,Pressure 31,Pressure 32
count,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000,17520.000000
mean,25.210068,-2.079247,8.805000,41.022270,80.852860,78.788028,80.916195,81.835479,79.949577,81.480595,82.986019,79.058161,75.727684
std,12.864225,5.006817,3.638183,7.026757,52.189481,51.405668,51.083796,50.885555,50.748192,50.753253,50.754017,50.371701,50.225787
min,3.600000,-198.000000,-50.400000,30.480000,2.596000,1.430000,3.909000,5.003000,3.356000,4.859000,6.343000,3.138000,0.127000
25%,10.800000,-3.600000,7.200000,30.480000,3.257750,2.898750,5.772750,7.176000,5.599750,7.123750,8.641750,5.473750,2.418750
50%,25.200000,-3.600000,10.800000,45.720000,111.095500,107.595000,109.088500,109.606000,107.456500,109.000500,110.499000,105.877500,102.277500
75%,36.000000,-0.000000,10.800000,45.720000,118.112250,115.901250,117.968000,118.853750,116.949250,118.480250,119.990750,115.927250,112.541000
max,61.200000,46.800000,21.600000,45.720000,127.136000,126.699000,129.553000,130.956000,129.358000,130.888000,132.410000,129.155000,126.067000

In [92]:
corrmatrix = df.corr()
corr = corrmatrix.round(2)
corr

,Node 11,Link 21,Link 22,Pressure 2,Pressure 10,Pressure 11,Pressure 12,Pressure 13,Pressure 21,Pressure 22,Pressure 23,Pressure 31,Pressure 32
Node 11,1.00,-0.43,0.51,0.76,0.68,0.67,0.66,0.65,0.65,0.65,0.65,0.64,0.64
Link 21,-0.43,1.00,0.31,-0.58,-0.56,-0.57,-0.57,-0.57,-0.57,-0.57,-0.57,-0.57,-0.57
Link 22,0.51,0.31,1.00,0.03,-0.04,-0.07,-0.08,-0.08,-0.09,-0.09,-0.09,-0.09,-0.10
Pressure 2,0.76,-0.58,0.03,1.00,0.99,0.99,0.99,0.99,0.99,0.99,0.99,0.98,0.98
Pressure 10,0.68,-0.56,-0.04,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 11,0.67,-0.57,-0.07,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 12,0.66,-0.57,-0.08,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 13,0.65,-0.57,-0.08,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 21,0.65,-0.57,-0.09,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 22,0.65,-0.57,-0.09,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 23,0.65,-0.57,-0.09,0.99,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 31,0.64,-0.57,-0.09,0.98,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00
Pressure 32,0.64,-0.57,-0.10,0.98,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [93]:
col=['Pressure 2','Pressure 11','Pressure 12','Pressure 13','Pressure 21','Pressure 22','Pressure 23','Pressure 31','Pressure 32']
df=df.drop(columns=col,axis=1)

In [94]:
df

       Node 11  Link 21  Link 22  Pressure 10
0         18.0     39.6     18.0       90.960
1         18.0     43.2     14.4       91.552
2         14.4     43.2     14.4       92.190
3         14.4     46.8     14.4       92.841
4         14.4     46.8     14.4       93.473
...        ...      ...      ...          ...
17515     32.4     -3.6      7.2      115.912
17516     25.2     -0.0      7.2      117.959
17517     25.2     -3.6      7.2      119.255
17518     25.2     -0.0      7.2      120.973
17519     21.6     -3.6      7.2      122.545

[17520 rows x 4 columns]

In [95]:
corrmatrix = df.corr()
corr = corrmatrix.round(2)
corr

             Node 11  Link 21  Link 22  Pressure 10
Node 11         1.00    -0.43     0.51         0.68
Link 21        -0.43     1.00     0.31        -0.56
Link 22         0.51     0.31     1.00        -0.04
Pressure 10     0.68    -0.56    -0.04         1.00

In [96]:
df.to_csv('C:/Users/cjoly/projet/Net1_CMH/Scenario-506/df_min.csv')

In [32]:
labels =pd.read_csv('C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Labels.csv')

In [33]:
labels.describe()

              Index         Label
count  17520.000000  17520.000000
mean    8760.500000      0.306906
std     5057.732694      0.461223
min        1.000000      0.000000
25%     4380.750000      0.000000
50%     8760.500000      0.000000
75%    13140.250000      1.000000
max    17520.000000      1.000000