In [32]:
import pandas as pd
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

In [33]:
#création dataset

In [34]:
n_2=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_2.csv')
n_9=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_9.csv')
n_11=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_11.csv')
n_12=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_12.csv')
n_13=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_13.csv')
n_21=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_21.csv')
n_22=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_22.csv')
n_23=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_23.csv')
n_31=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_31.csv')
n_32=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Demands/Node_32.csv')

In [35]:
n_2 =n_2.drop(n_2.columns[0], axis=1)
n_9 =n_9.drop(n_9.columns[0], axis=1)
n_11 =n_11.drop(n_11.columns[0], axis=1)
n_12 =n_12.drop(n_12.columns[0], axis=1)
n_13 =n_13.drop(n_13.columns[0], axis=1)
n_21 =n_21.drop(n_21.columns[0], axis=1)
n_22 =n_22.drop(n_22.columns[0], axis=1)
n_23 =n_23.drop(n_23.columns[0], axis=1)
n_31 =n_31.drop(n_31.columns[0], axis=1)
n_32 =n_32.drop(n_32.columns[0], axis=1)

In [36]:
df = n_2.merge(n_9, how='left', left_index=True, right_index=True)
df = df.merge(n_11, how='left', left_index=True, right_index=True)
df = df.merge(n_12, how='left', left_index=True, right_index=True)
df = df.merge(n_13, how='left', left_index=True, right_index=True)
df = df.merge(n_21, how='left', left_index=True, right_index=True)
df = df.merge(n_22, how='left', left_index=True, right_index=True)
df = df.merge(n_23, how='left', left_index=True, right_index=True)
df = df.merge(n_31, how='left', left_index=True, right_index=True)
df = df.merge(n_32, how='left', left_index=True, right_index=True)

C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3832253817.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_12, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3832253817.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_21, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3832253817.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_23, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3832253817.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(n_32, how='left', left_index=True, right_index=True)

In [37]:
df

,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y
0,273.6,-417.6,18.0,21.6,14.4,21.6,25.2,14.4,14.4,14.4
1,284.4,-414.0,18.0,18.0,10.8,21.6,21.6,14.4,14.4,10.8
2,291.6,-410.4,14.4,18.0,10.8,18.0,18.0,14.4,14.4,10.8
3,298.8,-406.8,14.4,18.0,10.8,18.0,18.0,10.8,10.8,10.8
4,298.8,-403.2,14.4,14.4,7.2,14.4,18.0,10.8,14.4,7.2
...,...,...,...,...,...,...,...,...,...,...
17515,0.0,-244.8,32.4,36.0,18.0,36.0,46.8,32.4,21.6,25.2
17516,0.0,-223.2,25.2,28.8,21.6,28.8,43.2,28.8,21.6,21.6
17517,0.0,-212.4,25.2,28.8,18.0,32.4,36.0,25.2,21.6,18.0
17518,0.0,-190.8,25.2,28.8,18.0,25.2,32.4,25.2,18.0,18.0
17519,0.0,-172.8,21.6,21.6,14.4,28.8,28.8,21.6,18.0,14.4

In [6]:
l_9=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_9.csv')
l_10=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_10.csv')
l_11=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_11.csv')
l_12=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_12.csv')
l_21=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_21.csv')
l_22=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_22.csv')
l_31=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_31.csv')
l_110=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_110.csv')
l_111=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_111.csv')
l_112=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_112.csv')
l_113=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_113.csv')
l_121=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_121.csv')
l_122=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Flows/Link_122.csv')

In [7]:
l_9 =l_9.drop(l_9.columns[0], axis=1)
l_10 =l_10.drop(l_10.columns[0], axis=1)
l_11 =l_11.drop(l_11.columns[0], axis=1)
l_12 =l_12.drop(l_12.columns[0], axis=1)
l_21 =l_21.drop(l_21.columns[0], axis=1)
l_22 =l_22.drop(l_22.columns[0], axis=1)
l_31 =l_31.drop(l_31.columns[0], axis=1)
l_110 =l_110.drop(l_110.columns[0], axis=1)
l_111 =l_111.drop(l_111.columns[0], axis=1)
l_112 =l_112.drop(l_112.columns[0], axis=1)
l_113 =l_113.drop(l_113.columns[0], axis=1)
l_121 =l_121.drop(l_121.columns[0], axis=1)
l_122 =l_122.drop(l_122.columns[0], axis=1)

In [8]:
df = df.merge(l_9, how='left', left_index=True, right_index=True)
df = df.merge(l_10, how='left', left_index=True, right_index=True)
df = df.merge(n_11, how='left', left_index=True, right_index=True)
df = df.merge(l_12, how='left', left_index=True, right_index=True)
df = df.merge(l_21, how='left', left_index=True, right_index=True)
df = df.merge(l_22, how='left', left_index=True, right_index=True)
df = df.merge(l_31, how='left', left_index=True, right_index=True)
df = df.merge(l_110, how='left', left_index=True, right_index=True)
df = df.merge(l_111, how='left', left_index=True, right_index=True)
df = df.merge(l_112, how='left', left_index=True, right_index=True)
df = df.merge(l_113, how='left', left_index=True, right_index=True)
df = df.merge(l_121, how='left', left_index=True, right_index=True)
df = df.merge(l_122, how='left', left_index=True, right_index=True)

C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3415005905.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_10, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3415005905.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_12, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3415005905.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_22, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3415005905.py:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_110, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3415005905.py:10: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_112, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\3415005905.py:12: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(l_121, how='left', left_index=True, right_index=True)

In [9]:
df

,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,...,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value_x,Value_y,Value
0,273.6,-417.6,18.0,21.6,14.4,21.6,25.2,14.4,14.4,14.4,...,14.4,39.6,18.0,7.2,-273.6,82.8,7.2,-0.0,21.6,7.2
1,284.4,-414.0,18.0,18.0,10.8,21.6,21.6,14.4,14.4,10.8,...,10.8,43.2,14.4,7.2,-284.4,82.8,-0.0,-0.0,21.6,7.2
2,291.6,-410.4,14.4,18.0,10.8,18.0,18.0,14.4,14.4,10.8,...,10.8,43.2,14.4,7.2,-291.6,82.8,-7.2,-3.6,18.0,3.6
3,298.8,-406.8,14.4,18.0,10.8,18.0,18.0,10.8,10.8,10.8,...,7.2,46.8,14.4,7.2,-298.8,82.8,-10.8,-3.6,18.0,3.6
4,298.8,-403.2,14.4,14.4,7.2,14.4,18.0,10.8,14.4,7.2,...,7.2,46.8,14.4,7.2,-298.8,79.2,-10.8,-3.6,18.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,0.0,-244.8,32.4,36.0,18.0,36.0,46.8,32.4,21.6,25.2,...,43.2,-3.6,7.2,7.2,0.0,61.2,72.0,21.6,32.4,14.4
17516,0.0,-223.2,25.2,28.8,21.6,28.8,43.2,28.8,21.6,21.6,...,43.2,-0.0,7.2,7.2,0.0,57.6,68.4,21.6,28.8,14.4
17517,0.0,-212.4,25.2,28.8,18.0,32.4,36.0,25.2,21.6,18.0,...,39.6,-3.6,7.2,7.2,0.0,54.0,64.8,18.0,28.8,14.4
17518,0.0,-190.8,25.2,28.8,18.0,25.2,32.4,25.2,18.0,18.0,...,36.0,-0.0,7.2,7.2,0.0,46.8,54.0,18.0,25.2,14.4
17519,0.0,-172.8,21.6,21.6,14.4,28.8,28.8,21.6,18.0,14.4,...,32.4,-3.6,7.2,3.6,0.0,43.2,50.4,14.4,21.6,10.8

In [10]:
p_2=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_2.csv')
p_10=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_10.csv')
p_11=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_11.csv')
p_12=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_12.csv')
p_13=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_13.csv')
p_21=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_21.csv')
p_22=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_22.csv')
p_23=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_23.csv')
p_31=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_31.csv')
p_32=pd.read_csv(f'C:/Users/cjoly/projet/Net1_CMH/Scenario-506/Pressures/Node_32.csv')

In [11]:
p_2 =p_2.drop(p_2.columns[0], axis=1)
p_10 =p_10.drop(p_10.columns[0], axis=1)
p_11 =p_11.drop(p_11.columns[0], axis=1)
p_12 =p_12.drop(p_12.columns[0], axis=1)
p_13 =p_13.drop(p_13.columns[0], axis=1)
p_21 =p_21.drop(p_21.columns[0], axis=1)
p_22 =p_22.drop(p_22.columns[0], axis=1)
p_23 =p_23.drop(p_23.columns[0], axis=1)
p_31 =p_31.drop(p_31.columns[0], axis=1)
p_32 =p_32.drop(p_32.columns[0], axis=1)

In [12]:
df = df.merge(p_2, how='left', left_index=True, right_index=True)
df = df.merge(p_10, how='left', left_index=True, right_index=True)
df = df.merge(p_11, how='left', left_index=True, right_index=True)
df = df.merge(p_12, how='left', left_index=True, right_index=True)
df = df.merge(p_13, how='left', left_index=True, right_index=True)
df = df.merge(p_21, how='left', left_index=True, right_index=True)
df = df.merge(p_22, how='left', left_index=True, right_index=True)
df = df.merge(p_23, how='left', left_index=True, right_index=True)
df = df.merge(p_31, how='left', left_index=True, right_index=True)
df = df.merge(p_32, how='left', left_index=True, right_index=True)

C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\1470798153.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_2, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\1470798153.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_11, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\1470798153.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_13, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\1470798153.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_22, how='left', left_index=True, right_index=True)
C:\Users\cjoly\AppData\Local\Temp\ipykernel_13564\1470798153.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Value_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(p_31, how='left', left_index=True, right_index=True)

In [30]:
columns=['Node 2','Node 9','Node 11','Node 12','Node 13','Node 21','Node 22','Node 23','Node 31','Node 32','Link 9','Link 10','Link 11','Link 12','Link 21','Link 22','Link 31','Link 110','Link 111','Link 112','Link 113','Link 121','Link 122','Pressure 2','Pressure 10','Pressure 11','Pressure 12','Pressure 13','Pressure 21','Pressure 22','Pressure 23','Pressure 31','Pressure 32']
col=['Node 2','Node 9','Link 9','Pressure 2','Pressure 10','Pressure 11','Pressure 12','Pressure 13','Pressure 21','Pressure 22','Pressure 23','Pressure 31','Pressure 32']
df.columns=columns
df=df.drop(columns=col)

In [31]:
corrmatrix = df.corr()
corr = corrmatrix.round(2)
corr

,Node 11,Node 12,Node 13,Node 21,Node 22,Node 23,Node 31,Node 32,Link 10,Link 11,Link 12,Link 21,Link 22,Link 31,Link 110,Link 111,Link 112,Link 113,Link 121,Link 122
Node 11,1.00,0.97,0.94,0.97,0.94,0.91,0.97,0.98,0.94,1.00,0.96,-0.43,0.51,0.95,0.02,0.96,0.97,0.96,0.98,0.97
Node 12,0.97,1.00,0.96,0.97,0.96,0.95,0.96,0.96,0.95,0.97,0.98,-0.36,0.60,0.91,0.02,0.97,0.98,0.96,0.97,0.96
Node 13,0.94,0.96,1.00,0.95,0.97,0.96,0.94,0.93,0.93,0.94,0.98,-0.31,0.66,0.87,0.03,0.96,0.97,0.94,0.95,0.94
Node 21,0.97,0.97,0.95,1.00,0.96,0.94,0.97,0.97,0.95,0.97,0.98,-0.42,0.56,0.92,0.02,0.97,0.98,0.97,0.98,0.96
Node 22,0.94,0.96,0.97,0.96,1.00,0.97,0.95,0.93,0.94,0.94,0.98,-0.28,0.66,0.87,0.03,0.97,0.98,0.96,0.95,0.94
Node 23,0.91,0.95,0.96,0.94,0.97,1.00,0.92,0.90,0.92,0.91,0.97,-0.24,0.75,0.83,0.03,0.95,0.96,0.95,0.92,0.91
Node 31,0.97,0.96,0.94,0.97,0.95,0.92,1.00,0.96,0.94,0.97,0.97,-0.41,0.54,0.92,0.02,0.96,0.97,0.96,0.98,0.96
Node 32,0.98,0.96,0.93,0.97,0.93,0.90,0.96,1.00,0.94,0.98,0.96,-0.44,0.49,0.96,0.02,0.95,0.96,0.95,0.98,0.98
Link 10,0.94,0.95,0.93,0.95,0.94,0.92,0.94,0.94,1.00,0.94,0.93,-0.16,0.66,0.91,-0.25,0.99,0.92,0.90,0.96,0.92
Link 11,1.00,0.97,0.94,0.97,0.94,0.91,0.97,0.98,0.94,1.00,0.96,-0.43,0.51,0.95,0.02,0.96,0.97,0.96,0.98,0.97
Link 12,0.96,0.98,0.98,0.98,0.98,0.97,0.97,0.96,0.93,0.96,1.00,-0.40,0.61,0.90,0.10,0.96,0.99,0.98,0.97,0.96
Link 21,-0.43,-0.36,-0.31,-0.42,-0.28,-0.24,-0.41,-0.44,-0.16,-0.43,-0.40,1.00,0.31,-0.40,-0.71,-0.23,-0.44,-0.46,-0.40,-0.46
Link 22,0.51,0.60,0.66,0.56,0.66,0.75,0.54,0.49,0.66,0.51,0.61,0.31,1.00,0.43,-0.27,0.66,0.58,0.55,0.53,0.50
Link 31,0.95,0.91,0.87,0.92,0.87,0.83,0.92,0.96,0.91,0.95,0.90,-0.40,0.43,1.00,-0.07,0.92,0.90,0.89,0.95,0.93
Link 110,0.02,0.02,0.03,0.02,0.03,0.03,0.02,0.02,-0.25,0.02,0.10,-0.71,-0.27,-0.07,1.00,-0.16,0.14,0.16,-0.01,0.08
Link 111,0.96,0.97,0.96,0.97,0.97,0.95,0.96,0.95,0.99,0.96,0.96,-0.23,0.66,0.92,-0.16,1.00,0.95,0.94,0.97,0.94
Link 112,0.97,0.98,0.97,0.98,0.98,0.96,0.97,0.96,0.92,0.97,0.99,-0.44,0.58,0.90,0.14,0.95,1.00,0.99,0.97,0.97
Link 113,0.96,0.96,0.94,0.97,0.96,0.95,0.96,0.95,0.90,0.96,0.98,-0.46,0.55,0.89,0.16,0.94,0.99,1.00,0.96,0.96
Link 121,0.98,0.97,0.95,0.98,0.95,0.92,0.98,0.98,0.96,0.98,0.97,-0.40,0.53,0.95,-0.01,0.97,0.97,0.96,1.00,0.98
Link 122,0.97,0.96,0.94,0.96,0.94,0.91,0.96,0.98,0.92,0.97,0.96,-0.46,0.50,0.93,0.08,0.94,0.97,0.96,0.98,1.00

In [23]:
df_1=df[['Node 11','Node 12','Node 13','Node 21','Node 22','Node 23','Node 31','Node 32']]
df_1

       Node 11  Node 12  Node 13  Node 21  Node 22  Node 23  Node 31  Node 32
0         18.0     21.6     14.4     21.6     25.2     14.4     14.4     14.4
1         18.0     18.0     10.8     21.6     21.6     14.4     14.4     10.8
2         14.4     18.0     10.8     18.0     18.0     14.4     14.4     10.8
3         14.4     18.0     10.8     18.0     18.0     10.8     10.8     10.8
4         14.4     14.4      7.2     14.4     18.0     10.8     14.4      7.2
...        ...      ...      ...      ...      ...      ...      ...      ...
17515     32.4     36.0     18.0     36.0     46.8     32.4     21.6     25.2
17516     25.2     28.8     21.6     28.8     43.2     28.8     21.6     21.6
17517     25.2     28.8     18.0     32.4     36.0     25.2     21.6     18.0
17518     25.2     28.8     18.0     25.2     32.4     25.2     18.0     18.0
17519     21.6     21.6     14.4     28.8     28.8     21.6     18.0     14.4

[17520 rows x 8 columns]

In [25]:
df_2=df[['Link 10','Link 11','Link 12','Link 21','Link 22','Link 31','Link 110','Link 111','Link 112','Link 113','Link 121','Link 122']]
df_2

,Link 10,Link 11,Link 12,Link 21,Link 22,Link 31,Link 110,Link 111,Link 112,Link 113,Link 121,Link 122
0,417.6,18.0,14.4,39.6,18.0,7.2,-273.6,82.8,7.2,-0.0,21.6,7.2
1,414.0,18.0,10.8,43.2,14.4,7.2,-284.4,82.8,-0.0,-0.0,21.6,7.2
2,410.4,14.4,10.8,43.2,14.4,7.2,-291.6,82.8,-7.2,-3.6,18.0,3.6
3,406.8,14.4,7.2,46.8,14.4,7.2,-298.8,82.8,-10.8,-3.6,18.0,3.6
4,403.2,14.4,7.2,46.8,14.4,7.2,-298.8,79.2,-10.8,-3.6,18.0,3.6
...,...,...,...,...,...,...,...,...,...,...,...,...
17515,244.8,32.4,43.2,-3.6,7.2,7.2,0.0,61.2,72.0,21.6,32.4,14.4
17516,223.2,25.2,43.2,-0.0,7.2,7.2,0.0,57.6,68.4,21.6,28.8,14.4
17517,212.4,25.2,39.6,-3.6,7.2,7.2,0.0,54.0,64.8,18.0,28.8,14.4
17518,190.8,25.2,36.0,-0.0,7.2,7.2,0.0,46.8,54.0,18.0,25.2,14.4
17519,172.8,21.6,32.4,-3.6,7.2,3.6,0.0,43.2,50.4,14.4,21.6,10.8

In [26]:
df_3=df[['Pressure 10','Pressure 11','Pressure 12','Pressure 13','Pressure 21','Pressure 22','Pressure 23','Pressure 31','Pressure 32']]
df_3

,Pressure 10,Pressure 11,Pressure 12,Pressure 13,Pressure 21,Pressure 22,Pressure 23,Pressure 31,Pressure 32
0,90.960,83.933,82.376,83.821,82.924,83.883,85.348,82.347,78.977
1,91.552,84.626,83.118,84.592,83.704,84.642,86.118,83.177,79.839
2,92.190,85.373,83.885,85.367,84.543,85.420,86.896,84.089,80.757
3,92.841,86.136,84.674,86.173,85.377,86.227,87.708,84.937,81.598
4,93.473,86.877,85.474,86.978,86.177,87.033,88.512,85.716,82.413
...,...,...,...,...,...,...,...,...,...
17515,115.912,113.291,115.172,115.984,113.958,115.485,116.993,112.842,109.367
17516,117.959,115.719,117.753,118.577,116.643,118.169,119.677,115.563,112.170
17517,119.255,117.259,119.409,120.338,118.449,119.985,121.497,117.493,114.230
17518,120.973,119.305,121.615,122.657,120.882,122.407,123.918,120.128,116.825
17519,122.545,121.180,123.622,124.741,122.960,124.495,126.011,122.338,119.132